.App {
  text-align: center;
  width: 100%;
  height: 100%;

}

header {
  background-color: black;
  width: 100%;
  height: 70px;
  position: absolute;
  top: 0
}

main {
  background-color: blue;
  position: absolute;
  top: 100px;
  left: 5%;
  width: 90%;
  height: 100%;
}

footer {
  background-color: green;
  height: 2.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}