body,
html {
  margin: 0;
  font-family: 'Bangers', cursive;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("https://wallpaperaccess.com/full/191572.jpg");
  background-attachment: fixed;


  width: 100%;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}